<!DOCTYPE html>
<html>

<head>
  <title>Webex Integration (OAuth flow)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
  <div id="content">
    <h1>Webex Integration example: Authenticated</h1>
    <a href="/logout">Logout</a>
    <p>So happy to meet,
      <%= displayName %> !</p>

      <!-- <a href="/listrooms">List my rooms (spaces)</a> -->
  </div>

</body>

</html>