<!DOCTYPE html>
<html>

<head>
  <title>Webex Integration (OAuth flow)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
  <div id="content">
    <h1>Webex Integration example: Error
    </h1>
    <%= error_desc %>
  </div>
</body>

</html>